.bookmark {
    height: 10rem;
    background: #F6F4F0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px; 
}

.bookmarkForm {
    max-width: 18rem;
    background: #0B2838;
    color: beige;
    //position: absolute;
}

.bookmarkFormHeader {
    background: #165272;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    max-width: 18rem;
    background-color: #F6F4F0;
}

.modal-body {
    background-color: #1F1F2F;
}