
.book {  
    width: 209px;
    height: 450px;
    left: 447px;
    top: 203px;

    background: #1B5F85;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.title {
    width: 309px;
    height: 63px;
    left: 600px;
    top: 700px;

    font-weight: 500;
    font-size: 40px;
    line-height: 48px;

    color: #C1CCD2;

}

.author {
    width: 350px;
    height: 71px;
    left: 266px;
    top: 400px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #000000;

}

