
.googleBook {
    margin: 10px;
    background: #c0d9e7;
}

.googleThumbnail {
    margin: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.googleTitle {
    margin-top: 15px;
}

.bookId {
    display: none;
}