.navbar{
    background: #1f1f2ff5;
}

.loginPage{
    background: #1F1F2F;
    height: 100vh;
}

.buttons{
    background:  #F6F4F0;
}

.bookSearcher{
    background: #1F1F2F;
    overflow-y: scroll;
    height: 100vh;
}
.bookSearcher::-webkit-scrollbar {
    display: none;
}

.library{
    background: #1F1F2F;
    
    //background: #F9F1DA;
    //position: sticky;
    //top: 0;
}

.bookmarks{
    background: #1F1F2F;
    overflow-y: scroll;
    height: 100vh;
}
.bookmarks::-webkit-scrollbar {
    display: none;
}