

.bookSearcher{
    background: #1F1F2F;
    overflow-y: scroll;
    height: 100vh;
}
.bookSearcher::-webkit-scrollbar {
    display: none;
}

.library{
    background: #1F1F2F;
    //background: #F9F1DA;
    //position: sticky;
    //top: 0;
}

.bookmarks{
    background: #1F1F2F;
    overflow-y: scroll;
    height: 100vh;
}
.bookmarks::-webkit-scrollbar {
    display: none;
}